@font-face {
  font-family: "gridlite-pe-variable";
  src: url("/gridlite.ttf");
}

.title {
  font-family: "gridlite-pe-variable", sans-serif;
  font-variation-settings: "wght" 900, "BACK" 1, "RECT" 1, "ELSH" 3;
}
