@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gridlite";
  src: local("gridlite"), url("./assets/fonts/gridlite.ttf");
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

/* Animation Keyframes */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cursor {
  /* content: "";
  width: 2px;
  height: 16px;
  background: #00ffff;
  display: inline-block; */
  animation: cursor-blink 0.18s steps(2) infinite;
}

/* Terminal Styles */
.terminal {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 2px;
  border: 2px solid white;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
  color: #00ffff;
  font-size: 1.2em;
  line-height: 1.5;
  overflow: hidden;
}

/* CTA Button */
.cta-button {
  background-color: #00ffff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  color: #0d0d0d;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #0ad4d4;
  box-shadow: 0 0 20px rgba(0, 255, 255, 1);
}
/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
